# Python
__pycache__/
*.pyc
*.py[cod]
*.class
.log
*.egg-info/
.ipynb_checkpoints
.env
.venv
env/
venv/
.mypy_cache/

# IDE
.vscode/
.idea/

# Mac OS
.DS_Store

# Data
data/*
!data/sample/
!data/external/
config/local
!.gitkeep

# Credentials
.mysqlconfig
