<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         Recommended Pokemon for {{ user_input }}
    </h3>


    <hr/>
    <table>
         <thead>
            <tr>
               <th>Recommend</th>
               <th>Type1</th>
               <th>Type2</th>
               <th>Learn More</th>
            </tr>
         </thead>

         <tbody>
            {% for pokemon in pokemons %}
               <tr>
                   <td>{{ pokemon.recommendation }}</td>
                   <td>{{ pokemon.type1 }}</td>
                   <td>{{ pokemon.type2 }}</td>
                   <td>{{ pokemon.learn_more }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>