<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
    <title>pokemon</title>
</head>

<body>
    <h3>
         Recommended Pokemon
    </h3>

    <form action="/" method=post>
      <dl>
        <input type=text size=15 name=pokemon_name placeholder="pokemon_name">
        <input type=submit value="Submit">
      </dl>
    </form>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Recommend</th>
               <th>Type1</th>
               <th>Type2</th>
               <th>Learn More</th>
            </tr>
         </thead>

         <tbody>
            {% for pokemon in pokemons %}
               <tr>
                   <td>{{ pokemon.recommendation }}</td>
                   <td>{{ pokemon.type1 }}</td>
                   <td>{{ pokemon.type2 }}</td>
                   <td>{{ pokemon.learn_more }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>